# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/GTerm Music Player/v16/.suo
.vs/GTerm Music Player/v16/.suo
.vs/GTerm Music Player/v16/.suo
.vs/GTerm Music Player/v16/Browse.VC.db
.vs/GTerm Music Player/v16/ipch/AutoPCH/18a7ca3f2eb94a76/GTERM MUSIC PLAYER.ipch
.vs/GTerm Music Player/v16/ipch/AutoPCH/4c6a9aed026ffae/GAPP.ipch
.vs/GTerm Music Player/v16/ipch/AutoPCH/a441bd44bb11e1a0/GMAIN.ipch
.vs/GTerm Music Player/v16/ipch/AutoPCH/cfe7987855dcae46/GMAIN.ipch
.vs/GTerm Music Player/v16/ipch/AutoPCH/da4b8d78dd4887ba/FRAMEWORK.ipch
.vs/GTerm Music Player/v16/ipch/AutoPCH/db365d5e1b60859b/GAPP.ipch
.vs/GTerm Music Player/v16/.suo
*.db
.vs/GTerm Music Player/v16/.suo
.vs/GTerm Music Player/v16/.suo
.vs/GTerm Music Player/v16/Browse.VC.db
*.pdb
*.iobj
*.tlog
*.ipch
*.Debug
src/build-GTermMusicPlayer-Desktop_Qt_6_0_2_MSVC2019_64bit-Debug/Makefile
*.Release
